:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: 'digital-clock-font';
  src: url("./assets/digital-7.ttf");
}
.custom-font{
  font-family: 'digital-clock-font' sans-serif system-ui, 'Segoe UI', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;